body{
  background-color: #1C1C1C;
  color: #51FF3A;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
a:link {
  text-decoration: none;
  color: #28AAFF;
}
a:visited {
  text-decoration: none;
  color: #0069AF;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}