<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>access_denied</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="column">

        <h1>You do not have access to this resource, log in with the appropriate account.</h1>
        <div style="margin-top: 3rem;">
            <a href="#" onclick="history.back();" style="font-size: 1.7rem;">Back</a><br>
            <a href="/auth/login" style="font-size: 1.7rem;">Sign in</a><br>
        </div>
    </div>
</div>
</body>
</html>