<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>changeMy_form</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
{{#currentSUser}}
<form action="/service/user/change/my/password" method="POST" modelAttribute="currentUser">
  <h4>Change your information</h4>
  <p>Id: {{id}}</p>
  <p>Email: {{email}}</p>
  <p>
    <label for="passwordCur">Your current password:</label>
    <input type="password" id="passwordCur" name="confirmCheckPassword" class="form-control" placeholder="Password" required>
  </p>
  <p>
    <label for="password">New password:</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required> Amount of characters more or equals of 4.
  </p>
  <p>
    <label for="passwordRepet">Confirm new password:</label>
    <input type="password" id="passwordRepet" name="passwordConfirm" class="form-control" placeholder="Password" required>
  </p>
  <button type="submit">SAVE</button>
</form>
{{/currentSUser}}
<br>
<a href="#" onclick="history.back();">Back</a>
</body>
</html>