<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error_confirm</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <div class="column">
        <div class="container">
            <h2>Incorrect password.</h2>
        </div>
        <br>
        <div style="margin-top: 3rem;">
            <a href="#" onclick="history.back();" style="font-size: 1.7rem;">Back</a><br>
            <a href="/service" style="font-size: 1.7rem;">Service page</a>
        </div>
    </div>
</body>
</html>