<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success_login</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="column">
            <h1>You have been authorised.</h1>
        <br>
        <div style="margin-top: 3rem;">
            <a href="/" style="font-size: 1.7rem;">Main page</a><br>
            <a href="/service" style="font-size: 1.7rem;">Service Page</a>
        </div>
    </div>
</div>
</body>
</html>
