<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Users_output</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
        <h2>Employees</h2>
        <table>

            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>

            {{#usersList}}
            <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
            </tr>
            {{/usersList}}

        </table>
        <br>
        <a href="/">Main page</a>
    </body>
</html>